@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');
*{
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #e5097f;
}
.body-background{
    background-image: url(../images/fondo-blanco.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.hx{
    font-size: 2rem;
    color: #e5097f;
    text-shadow: 1px 1px 5px #e5097f;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.name{
    font-size: 2rem;
}

/*  INDEX   */

.div-content{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    img{
        height: 20rem;
        width:20rem;
        box-shadow: 2px 2px 10px 10px #e5097f;
    }
    p{
        font-size: 2rem;
        font-style: italic;
        text-shadow: 1px 1px 5px black;
        height:20rem;
        width: 25rem;
        margin-left: 10rem;
    }
}
/*  PRODUCTOS   */
.grid-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    div{
        margin-left: 2rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
    }
    h5{
        font-size: 1.2rem;
    }
    p{
        color: #e5097f;
        font-weight: bold;
    }
    a{
        background-color: #e5097f;
        border-color: #e5097f;
    }
    a:hover{
        background-color: white;
        color: black;
        border-color: #e5097f;
        font-weight: bold;
    }
}
/*  SERVICIOS */
.grid-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    div{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 5rem;
    }
    h5{
        font-size: 1.5rem;
    }
    p{
        color: #e5097f;
        font-weight: bold;
    }
    a{
        background-color: #e5097f;
        border-color: #e5097f;
    }
    a:hover{
        background-color: white;
        color: black;
        border-color: #e5097f;
        font-weight: bold;
    }
}
/*  GALERIA    */
.grid-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    img{
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
        box-shadow: 2px 2px 10px 10px rgb(103, 103, 103);
    }
}
/*  CONTACTO    */
.button{
    background-color: #e5097f;
    color: white;
    border-color: #e5097f;
    font-size: 1.2rem;
    button:hover{
        background-color:#e5097f;
        border-color: #e5097f;
    }
}
footer{
    font-size: 1.2rem;
    font-weight: bold;
    img{
        height: 2rem;
        width: 2rem;
    }
}
/*  RESPONSIVE DESIGN  */
@media (min-width:320px) and (max-width:479px){
    .name{
        font-size: 1.2rem;
    }
    .div-content{
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        img{
            height: 15rem;
            width:15rem;
            box-shadow: 2px 2px 10px 10px #e5097f;
            margin-bottom: 2rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        p{
            font-size: 1.5rem;
            font-style: italic;
            text-shadow: 1px 1px 5px black;
            height:20rem;
            width: 15rem;
            margin-left: 2rem;
        }
    }
    footer{
        font-size: 1rem;
        margin-left: 5rem;
        p{
            margin-top: 1.5rem;
            margin-left: 2.5rem;
        }
        img{
            height: 1rem;
            width: 1rem;
            margin-left: 3rem;
        }
    }
    .hx{
        font-size: 1.5rem;
    }
    .grid-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        div{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 5rem;
        }
        h5{
            font-size: 1.2rem;
        }
        div{
            width: 10rem;
            height: 25rem;
        }
    }   
    .grid-gallery{
        img{
            height: 15rem;
            width: 18rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}  
@media (min-width:480px) and (max-width:765px){
    .name{
        font-size: 2rem;
    }
    .div-content{
        img{
            height: 20rem;
            width: 20rem;
        }
        p{
            font-size: 1.5rem;
            margin-top: 3rem;
            width: 15rem;
            margin-left: 2rem;
        }
        
    }
    footer{
        .hx{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
            margin-left: 2rem;
            margin-top: 1rem;
        }
        img{
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 2rem;
        }
    }
    .grid-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        div{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        h5{
            font-size: 1.5rem;
        }
        div{
            width: 10rem;
            height: 30rem;
        }
    }   
    .grid-gallery{
        img{
            height: 15rem;
            width: 18rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}
@media (min-width:766px){
    .name{
        font-size: 2rem;
    }
    .div-content{
        img{
            height: 20rem;
            width: 20rem;
            margin-right: 5rem;
        }
        p{
            font-size: 1.5rem;
            width: 15rem;
            margin-left: 5rem;
            
        }
        
    }
    footer{
        .hx{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
            margin-left: 2rem;
            margin-top: 1rem;
        }
        img{
            height: 2rem;
            width: 2rem;
            margin-right: 2rem;
        }
    }
    .grid-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        div{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        h5{
            font-size: 1.5rem;
        }
        div{
            width: 10rem;
            height: 30rem;
        }
    }   
    .grid-gallery{
        img{
            height: 15rem;
            width: 18rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}
