/*  RESPONSIVE DESIGN  */
@media (min-width:320px) and (max-width:479px){
    .name{
    font-size: 1.2rem;
    }
    .div-content{
        img{
            height: 15rem;
            width: 15rem;
        }
        p{
            font-size: 1.5rem;
            margin: 3rem 0rem 3rem 0rem;
            width: 15rem;
        }
    }
    footer{
        img{
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
        }
        p{
            font-size: 1rem;
            margin-left: 4rem;
        }
    }
    .hx{
        font-size: 1.5rem;
    }
    .grid-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        div{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        h5{
            font-size: 1rem;
        }
        .card{
            width: 20rem;
            height: 25rem;
        }
        p{
            font-size: 1rem;
        }
    }   
    .grid-gallery{
        img{
            height: 15rem;
            width: 18rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}

@media (min-width:480px) and (max-width:765px){
    .name{
        font-size: 2rem;
    }
    .div-content{
        img{
            height: 20rem;
            width: 20rem;
        }
        p{
            font-size: 1.5rem;
            margin-top: 3rem;
            width: 20rem;
            margin-left: 0rem;
        }
    }
    .hx{
        font-size: 2rem;
    }
    .grid-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        div{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        h5{
            font-size: 1.2rem;
        }
        p{
            font-size: 1.2rem;
        }
        .card{
            width: 20rem;
            height: 30rem;
        }
    }   
    .grid-gallery{
        img{
            height: 20-rem;
            width: 24rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    footer{
        p{
            font-size: 1.2rem;
            margin-left: 7.5rem;
            
        }
        img{
            height: 2rem;
            width: 2rem;
            margin-right: 2rem;
        }
    }
}
@media (min-width:766px) and (max-width:900px){
    .name{
        font-size: 2rem;
    }
    .hx{
        font-size: 2rem;
    }
    .div-content{
        img{
            height: 18rem;
            width: 18rem;
            margin-right: 4rem;
        }
        p{
            font-size: 1.5rem;
            width: 18rem;
            margin-left: 4rem;   
        }
    }
    .grid-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        div{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        h5{
            font-size: 1.5rem;
        }
        .card{
            width: 20rem;
            height: 30rem;
        }
    }   
    .grid-gallery{
        img{
            height: 15rem;
            width: 18rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    footer{
        p{
            font-size: 1.2rem;
            margin-left: 10rem;
        }
        img{
            height: 2rem;
            width: 2rem;
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }
}
@media (min-width:900px){
    .name{
        font-size: 2.5rem;
    }
    .hx{
        font-size: 2rem;
    }
    .div-content{
        img{
            height: 25rem;
            width: 25rem;
            margin-right: 4rem;
        }
        p{
            font-size: 2rem;
            width: 25rem;
            margin-left: 5rem;
        }   
    }
    .grid-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        div{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        h5{
            font-size: 1.5rem;
        }
        .card{
            width: 20rem;
            height: 30rem;
        }
    }   
    .grid-gallery{
        img{
            height: 15rem;
            width: 18rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    footer{
        
        p{
            font-size: 1.5rem;
            margin-left: 28rem;
        }
        img{
            height: 2.5rem;
            width: 2.5rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}
