//  IMPORTANDO EL RESET DE LA PAGINA
@import "../scss-style/reset";
@import "../scss-style/variables";
@import "../scss-style/mixins";

//  APLICANDO NESTING O ANIDADO 
.body-background{
    background-image: url(../images/fondo-blanco.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.hx{
    font-size: 2rem;
    color: $magenta;
    text-shadow: 1px 1px 5px $magenta;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.name{
    @include fonts(2rem,none);
}
main{
    ul{
        li{
            a{
                font-size: 1.2rem;
            }
        }
    }
}

/*  INDEX   */
.div-content{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    img{
        @include sizes(20rem,20rem);
        box-shadow: 2px 2px 10px 10px $magenta;
    }
    p{
        @include fonts(2rem,italic);
        text-shadow: 1px 1px 5px black;
        @include sizes(20rem,25rem);
        margin-left: 10rem;
    }
}

/*  PRODUCTOS   */
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.grid-products{
    @extend .grid;
    div{
        margin:0rem 2rem 5rem 5rem ;
    }
    h5{
        @include fonts(2rem,none);
    }
    p{
        color: $magenta;
        font-weight: bold;
        font-size: 1.2rem;
    }
}
/*  SERVICIOS */
.grid-services{
    @extend .grid;
    div{
        margin: 0rem 2rem 5rem 2rem;
    }
    h5{
        @include fonts(2rem,none);
    }
    p{
        color: $magenta;
        font-weight: bold;
    }
}
/*  GALERIA    */
.grid-gallery{
    @extend .grid; 
    img{
        margin: 0rem 5rem 5rem 5rem;
        box-shadow: 2px 2px 10px 10px rgb(103, 103, 103);
    }
}
/*  CONTACTO    */
footer{
    @include fonts(2rem,none);
    font-weight: bold;
    img{
        @include sizes(5rem,2rem);
    }
}
// IMPORTANDO LAS MEDIA QUERIES
@import "../scss-style/screen";